.footer_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FAEADB;
    padding: 30px;
}

.esq_flex .dreta_flex {
    display: flex;
    flex-direction: column;
}
