/* COLOR PALETTE {
    "Eerie Black":"#101819",
    "Linen":"#FAEADB",
    "Yellow Orange":"#EFA243",
    "Firebrick":"#B3001B"
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAEADB;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.pagina {
    /*height: 100vh;*/
}

.capçalera_flex {
    display: flex;
    background-color: #FAEADB;
    padding: 10px 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.cap_esq {
    display: flex;
    align-items: center;
}

.cap_dreta {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
}

.titol {
    margin-left: 35px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cerca {
    margin-right: 35px;
    font-size: 15px;
    background: transparent;
    border: none;
    line-height: 25px;
    border-bottom: 2px solid #101819;

}

h1 h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.usuari {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    background-color: #B3001B;
    border: 1px solid #101819;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAEADB;
}

.descripcio_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.descripcio_flex p {
    width: 50%;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyUser {
    position: fixed!important;
    top: 80px;
}

.navbar {
    display: flex;
    background-color: #FAEADB;
    align-items: center;
    padding: 2% 5%;
    width: 100%;
    margin-top: 70px;
}

.navbar_item:hover > a {
    color: brown;
}

.navbar_item:hover {
    color: brown;
}

.navbar_item.cistella {
    margin-left: auto;
}

.navbar_item {
    margin-right: 40px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.sticky + .content {
    padding-top: 80px;
}

.cerca_icon {
    margin-right: 7px;
    position: relative;
    top: 3;
    color: 101819;
}



.dialeg_usuari {
    background-color: #FAEADB;
    top: 83px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: fixed;
    display: none;
    right: 30px;
}

.perfil, .logout {
    transition: 0.4s;
    font-size: 16px;
    color: #B3001B;
    padding: 13px 15px;
}

.perfil:hover, .logout:hover {
    background-color: #B3001B;
    color: FAEADB;
    border-radius: 2px;
}

.dialeg_cistella {
    background-color: #FAEADB;
    top: 83px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    right: 90px;
    position: fixed;
    display: none;
}

.cistella_prods, .cistella_punts {
    transition: 0.4s;
    font-size: 16px;
    color: EFA243;
    padding: 13px 15px;
}

.cistella_prods:hover, .cistella_punts:hover {
    background-color: #EFA243;
    color: FAEADB;
    border-radius: 2px;
}

.perfil:hover>a {
    color: white;
}

.feather.feather-x-circle, .feather.feather-user, .feather.feather-align-left, .feather.feather-gift {
    vertical-align: bottom;
    margin-right: 15px;
}

.content {
    padding: 0% 5%;
    background: #F4F3EE;
}

.cistella {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}

.cistella_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cistella_icon {
    width: 45px;
    vertical-align: bottom;
}

.navbar_item.item_usuari {
    margin-left: auto;
    margin-right: 0px!important;
}